# Replace this with your Render URL for production deployment (e.g. on Vercel)
# VITE_API_URL=https://your-backend-api.onrender.com

# Local Testing URLs
VITE_API_URL=http://localhost:8080
VITE_PROXY_TARGET=http://localhost:8080
